/* || reactive containers */
.container{
    width: 90%;
    height: 90%;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-gap: 10px;
    grid-template-areas: 
    "hd"
    "ct"
    "sd"
    "ft";
}

@media (min-width: 400px){
    .container{
        width: 90%;
        height: 90%;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd hd"
        "ct ct ct ct ct ct ct sd sd sd"
        "ft ft ft ft ft ft ft ft ft ft";
    }
}


/* || general */
h1,h2{
    color:rgb(8, 155, 155);
}
/* || header */
.header{
    grid-area: hd;
}


/* || Navigation bar */
.nav-list{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(8, 155, 155), #888);
    box-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.3);
}

.nav-list li{
    float: left;
}
    
.nav-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover{
    background-color: #333;
    color: white;
}

.nav-list li .active{
    background-color: #555;
}

/* || About section */
main{
    grid-area: ct;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ct;
}

main img{
    border-radius: 20%;
    width: 200px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

/* || posts and social media */
.side{
    grid-area: sd;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 2);
    grid-gap: 5px;
    background-color: #ddd;
    border-radius: 5%;
    box-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.3);
    grid-area: sd;
}
/* || posts */
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.posts ul{
    display: block;
    list-style-type: none;
}
.posts li{
    float: left;
    display: block;
    padding: 6px 15px 0px 0px;
}
.posts li a{
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.posts li a:hover{
    transform: scale(1.5);
}

/* || Social media */
.media-links{
    border: black;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-links a:hover{
    transform: scale(1.15);
}
/* || footer */
footer{
    background-image: linear-gradient(to right, rgb(8, 155, 155), #888);
    box-shadow: 0px 2px 2px  rgba(0, 0, 0, 0.3);
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: ft;
}

footer a{
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
}

footer a:hover{
    background-color: #333;
}
